@import "colors";
@import "top";
@import "feed";
@import "load";
@import "footer";

body {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    background-color: black;
    display: flex;
    justify-content: center;
}

.page {
    background-color: white;
    width: 1280px;
    margin: auto;
    min-height: 100vh;    
}
