- var title = "Subtlety";

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="assets/css/main.min.css")
        link(rel="stylesheet", href="static/css/normalize.css")
        link(rel="stylesheet", href="static/css/hamburgers.css")
        link(rel="stylesheet", href="static/css/fontawesome.css")
        link(href='https://fonts.googleapis.com/css?family=Fira+Sans&display=swap' rel='stylesheet')
    body
        .page            
            .post
                include pugs/sidebar.pug
                include pugs/post.pug
            .footer
                include pugs/footer.pug
