- var title = "Subtlety";
- var slogan_line_1 = '" Be Honest'
- var slogan_line_2 = "with yourself,"
- var slogan_line_3 = "be free!"
- var signature_text = "*yours Hezy"

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="css/main.min.css")
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/hamburgers.css")
        link(rel="stylesheet", href="css/fontawesome.css")
        link(href='https://fonts.googleapis.com/css?family=Fira+Sans&display=swap' rel='stylesheet')
    body
        .page
            .top
                include pugs/sidebar.pug
                include pugs/slider.pug
            .feed
                include pugs/feed.pug                
            .load
                include pugs/load.pug
            .footer
                .footer__about
                    .footer__about__col
                        h2 Subtlety by Hezy
                        p Subtlety. Some beautiful template for your blog. If you are looking for something unusual. I'm not sure somebody really read this text.
                    .footer__about__col
                        h2 Get in Touch
                        span.large 13 East End Ave New York, NY 10028 
                        span P: +1 234 5678 910 
                        span E: hezytheme@gmail.com
                .footer__followus
                    .footer__followus__row
                        h2 Follow Us
                    .footer__followus__row.social
                        a(href="#") Facebook
                        a(href="#") Twitter
                    .footer__followus__row
                        .input
                            input(type="text" placeholder="Subscribe to our newsletter")
                            a(href="#") Submit             
