.post
    img(src="../images/post1.png", alt="post1")
    .post__text                        
        h2 Exploring visual  trends in  contemporaneity
        span.data by Jessica, 5 Jan 2017
        a.link(href="#") Discover more
    .post__background
.post.left
    img(src="../images/post2.png", alt="post2")
    .post__text                        
        h2 Art trends in the publicity
        span.data by Hezy, 30 Dec 2016
        a.link(href="#") Discover more
    .post__background
.post
    img(src="../images/post3.png", alt="post3")
    .post__text                        
        h2 What makes a  truly great and creative logo?
        span.data by Jessica, 7Dec 2016
        a.link(href="#") Discover more
    .post__background
.post.left
    img(src="../images/post4.png", alt="post4")
    .post__text                        
        h2 We worked with  our client to  build the story 
        span.data by Hezy, 5 Dec 2016
        a.link(href="#") Discover more
    .post__background