.footer__about
    .footer__about__col
        h2 Subtlety by Hezy
        p Subtlety. Some beautiful template for your blog. If you are looking for something unusual. I'm not sure somebody really read this text.
    .footer__about__col
        h2 Get in Touch
        span.large 13 East End Ave New York, NY 10028 
        span P: +1 234 5678 910 
        span E: hezytheme@gmail.com
.footer__followus
    .footer__followus__row
        h2 Follow Us
    .footer__followus__row.social
        a(href="#") Facebook
        a(href="#") Twitter
    .footer__followus__row
        .input
            input(type="text" placeholder="Subscribe to our newsletter")
            a(href="#") Submit