img.slider(src="static/images/post5.png", alt="post5")
.author
    span by Jessica, 5 Jan 2017
.title
    h1 Exploring visual trends in contemporaneity
.text
    p 
        | Church-key yr pabst listicle, asymmetrical 90's freegan everyday carry chartreuse synth meh photo booth ethical. 
        | Biodiesel hammock truffaut salvia, four loko wolf dreamcatcher chartreuse 8-bit man braid DIY. Raw denim tofu scenester, 
        | iPhone readymade glossier tote bag paleo kinfolk. DIY ramps bespoke synth, hammock asymmetrical polaroid cray. 
    p
        | Ethical portland street art bushwick etsy, mumblecore intelligentsia air plant palo santo direct trade vape marfa. 
        | Typewriter subway tile semiotics, migas iPhone helvetica YOLO adaptogen poke hell of ugh polaroid you probably haven't heard of them selvage. 
        | Green juice bitters cold-pressed shoreditch, cred quinoa pug tacos sartorial fixie man braid semiotics blue bottle bushwick master cleanse.
    h2 You know what I mean
    p 
        | Keytar adaptogen fap everyday carry actually. Before they sold out pop-up fixie meh kitsch. DIY squid shaman selvage. 
        | Migas mlkshk whatever cold-pressed flexitarian pinterest lumbersexual, 3 wolf moon try-hard pour-over wayfarers sustainable kombucha subway tile.
    img(src="static/images/post5-1.png", alt="post5-1")
    p
        | Hot chicken photo booth roof party everyday carry whatever kale chips. Microdosing iPhone franzen meggings semiotics brooklyn. Ennui farm-to-table pop-up 8-bit neutra.
    p
        | Letterpress drinking vinegar church-key unicorn skateboard hell of. Truffaut tofu offal jean shorts organic hot chicken viral. 
        | Viral tacos keytar, messenger bag literally semiotics direct trade cardigan asymmetrical ennui plaid bushwick neutra bespoke. 
        | Taiyaki tilde banh mi, post-ironic food truck bespoke mumblecore hella. Occupy schlitz pop-up direct trade, af williamsburg freegan vexillologist. 
        | Ugh church-key helvetica DIY squid, tumblr bushwick jianbing. Viral kogi butcher disrupt, pabst 90's skateboard squid thundercats glossier jean shorts.