#slider
    span.slogan.line1= slogan_line_1
    span.slogan.line2= slogan_line_2
    span.slogan.line3= slogan_line_3
    span.signature= signature_text
    span.scroll SCROLL
    span.scroll
        i.fas.fa-arrow-down